main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.titulo-contatos {
    font-size: var(--font-subtitulo);
    font-weight: 700;
    font-family: 'Tangerine';
    color: var(--rose);
    text-align: center;
}

/*Contato*/

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    border: solid 1px var(--rose);
    padding: 20px;
    margin-top: 25px;
    width: 65vw;
}

.contato-input {
    display: flex;
    flex-direction: column;
    font-size: var(--fonte-mini);
    font-weight: 900;
}

.contato-input input {
    padding: 5px;
}

.contato-text {
    height: 200px;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
}

.contato-btn {
    font-family: 'Roboto';
    font-weight: 700;
    width: 100%;
    padding: 5px;
    border: none;
    background-color: var(--rose);
    cursor: pointer;
}

.contato-btn:hover {
    color: var(--branco);
    background-color: var(--rose-hover);
}

/*Midia*/

.midia {
    padding: 50px;
}

.midia-mapa {
    width: 65vw;
    height: 315px;
    border: 0;
}

.midia-video {
    pointer-events: none;
}