main {
    padding: 100px 0;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: solid 1px var(--rose);
    padding: 20px;
}

.login-titulo {
    font-size: var(--fonte-media);
    font-weight: 700;
}

.login-input {
    display: flex;
    flex-direction: column;
    font-size: var(--fonte-mini);
    font-weight: 900;
    width: 300px;
}

.login-input input {
    padding: 5px;
}

.login-btn {
    font-family: 'Roboto';
    font-weight: 700;
    width: 100%;
    padding: 5px;
    border: none;
    background-color: var(--rose);
    cursor: pointer;
}

.login-btn:hover {
    color: var(--branco);
    background-color: var(--rose-hover);
}