.titulo-produtos {
    text-align: center;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}

.sobre-descricao {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
    font-size: var(--fonte-media);
    line-height: 1.5;
}

.sobre-descricao span {
    color: var(--rose);
    font-weight: 700;
}

/*Midia*/

.midia {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.midia-video {
    width: 560px;
    height: 315px;
    border: 0;
    pointer-events: none;
}