@import url(./variaveis.css);

/*Cabeçalho*/

header {
    position: sticky;
    z-index: 999;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: var(--branco);
    padding: 15px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--cinza);
}

.search-ipt {
    border: none;
    background-color: transparent;
    font-size: var(--fonte-media);
    font-family: 'Roboto';
}

.search input:focus-visible {
    outline: none;
}

.search-btn {
    color: var(--branco);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.titulo {
    font-size: var(--fonte-titulo);
    font-weight: 700;
    font-family: 'Tangerine';
    color: #ff8f80;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.nav-list li:hover {
    transition: 0.5s;
    color: var(--ouro-antigo);
}

.nav-icon {
    padding-right: 2.5px;
    font-size: var(--fonte-media);
}

/*Banner*/

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(../image/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.banner h2 {
    width: 75vw;
    padding: 20px;
    background-color: #a1a1a1a6;
    border-radius: 25px;
    font-family: 'Tangerine';
    font-size: var(--fonte-titulo);
    line-height: 1.3;
    font-weight: 700;
}

/*Produtos*/

.produtos {
    text-align: center;
    padding: 50px 25px;
}

.titulo-produtos {
    font-size: var(--font-subtitulo);
    font-weight: 700;
    font-family: 'Tangerine';
    color: #ff8f80;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

.card-produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 3px solid var(--ouro-antigo);
    width: 250px;
}

.produtos-img {
    width: 100%;
}

.produtos-nome {
    font-size: 2rem;
    font-weight: 300;
    padding: 0 5px;
}

.produtos-valor {
    font-size: var(--fonte-media);
    font-weight: 900;
}

.produtos-opcoes {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid #555;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.opton-1 {
    background-color: var(--ouro);
    opacity: 50%;
}

.opton-2 {
    background-color: var(--ouro-antigo);
    opacity: 50%;
}

.opton-3 {
    background-color: var(--cinza);
    opacity: 50%;
}

.opton-1:checked,
.opton-2:checked,
.opton-3:checked {
    border-color: var(--preto);
    opacity: 100%;
}

.produtos-btn {
    font-family: 'Roboto';
    font-weight: 700;
    width: 100%;
    padding: 5px;
    border-color: var(--ouro-antigo-hover);
    background-color: var(--ouro-antigo);
    cursor: pointer;
}

.produtos-btn:hover {
    color: var(--branco);
    background-color: var(--ouro-antigo-hover);
}

/*Footer*/

footer {
    padding: 25px 25px 0;
    background-color: var(--ouro-antigo);
}

.titulo-footer {
    font-size: var(--font-subtitulo);
}

.footer-itens {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
    padding-bottom: 15px;
}

.footer-topico {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
}

.topico-titulo {
    font-weight: 700;
    padding-bottom: 10px;
}

.topico-links:hover {
    color: var(--cinza);
}

.copyright {
    border-top: 1px solid #000;
    text-align: center;
    padding: 15px 0;
}