:root {
    --ouro-antigo: #F2BC57;
    --branco: #fff;
    --cinza: #c5c5c5;

    --fonte-titulo: 5rem;
    --fonte-grande: 2.5rem;
    --fonte-media: 1.25rem;
}

/*Cabeçalho*/

header {
    position: sticky;
    z-index: 999;
    left: 0;
    top: 0;
}

.cab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: var(--branco);
    padding: 25px 15px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--cinza);
}

.search-ipt {
    border: none;
    background-color: transparent;
    font-size: var(--fonte-media);
    font-family: 'Roboto';
}

.search input:focus-visible {
    outline: none;
}

.search-btn {
    color: var(--branco);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.titulo {
    font-size: var(--fonte-titulo);
    font-weight: 700;
    font-family: 'Tangerine';
    color: #ff8f80;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.nav-list li:hover {
    transition: 0.5s;
    color: var(--ouro-antigo);
}

.nav-icon {
    padding-right: 2.5px;
    font-size: var(--fonte-media);
}

/*Banner*/

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(./image/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.banner h2 {
    width: 75vw;
    padding: 20px;
    background-color: #a1a1a1a6;
    border-radius: 25px;
    font-family: 'Tangerine';
    font-size: var(--fonte-titulo);
    line-height: 1.3;
    font-weight: 700;
}