:root {
    --rose: #ff8f80;
    --rose-hover: #a85b51;
    --ouro: #ffdc41;
    --ouro-antigo: #F2BC57;
    --ouro-antigo-hover: #af873d;
    --branco: #fff;
    --cinza: #9c9c9c;
    --preto: #000;

    --fonte-titulo: 5rem;
    --font-subtitulo: 4rem;
    --fonte-grande: 2rem;
    --fonte-media: 1.25rem;
    --fonte-mini: 0.8rem;
}